config/gameSets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="map">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xCount" type="xs:unsignedByte" />
										<xs:element name="yCount" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="players">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="player">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="pawns">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" name="pawn">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="xPos" type="xs:unsignedByte" />
																			<xs:element name="yPos" type="xs:unsignedByte" />
																		</xs:sequence>
																		<xs:attribute name="name" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="playercount" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
